.celular {
    width: 100%;
    height: 100%;
    overflow-x: auto;
    overflow-y: auto;
    position: relative;
    top: 1rem;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 1rem;   
    background-color: black;
}


header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    background-color: blue;
}


h1 {
    font-size: 2.5rem;

    display: flex;
    justify-content: center;
    font-family: 'Josefin Sans', sans-serif;
}

main {
    height:100%;
    width:100%;
    display: flex;
    margin: 1rem;
    flex-direction: column;
    font-family: 'Lora', serif;
    

}

p {
    display: flex;
    justify-content: center;
    margin-top: 5rem;
    font-size: 2rem;
    color: whitesmoke;
}

.caixa{
    font-family: 'Lora', serif;
    display: flex;
    color:whitesmoke;
    text-decoration: none;
    margin: 1rem;
    border: .1rem solid whitesmoke;
    padding: 1rem 1rem 1rem 1rem;
    text-decoration: none;
    border-radius: .5rem;
}


head {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    border-bottom: .1rem solid black;
}

.input{
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}

.seta_esq{
    height: 3rem;
    width: 3rem;
    position: absolute;
    left: 0;
    top: 0rem;
}